<div class="">
  <div class="uno">
    <div class="form-group ml-2" id="formulario">
      <br />
      <h2>Opciones</h2>
      <br />
      <label for="tipo">Institucion:</label>
      <select
        name="tipo" 
        id="tipo"
        class="form-control"
        [(ngModel)]= "selectedOtherServiceInstitution.institucion"
      >
        <option value="">--Seleccione una--</option>
        <option *ngFor="let x of institutions.sort()" value="{{x.id}}">{{x.nombre_institucion}}</option>
      </select>
      <br />
      <label for="fechaIni" [hidden]="params1">Fecha Inicio</label>
      <input
        [hidden]="params1"
        type="date"
        class="form-control"
        [(ngModel)]="selectedOtherServiceInstitution.fecha_ini"
        required
      />
      <br />
      <label for="fechaFin" [hidden]="params1">Fecha Final</label>
      <input
        [hidden]="params1"
        type="date"
        class="form-control "
        [(ngModel)]="selectedOtherServiceInstitution.fecha_fin"
        required
      />
      <br />
      <input
        type="submit"
        class="btn btn-success"
        value="Consultar"
        (click)="getAllOtherServicesByInstitution()"
      />
      <!--   <input
          type="submit"
          class="btn btn-success"
          value="Consultar"
          (click)="getAllAppointmentsBySpecialty()"
        /> -->
    </div>
  </div>
  <div class="hero">
    <div class="dos mt-3">
      <!-- <label for="cons" class="mt-3">Consultas disponibles</label>
          <select name="cons" id="cons" class="form-control ancho">
            <option value="1">Venta de Cupos por Ciudades</option>
            <option value="1">Venta de Cupos por Vendedor</option>
            <option value="1">Venta de Cupos por Sede</option>
            <option value="1">Venta de Cupos por Perfíl Demográfico</option>
          </select> -->
      <h3>
        Otros Servicios Por institución
      </h3>
    </div>
    <div class="tres mt-3 ml-2">
      <div class="chart-uno">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Torta">
            <google-chart
              #chart
              [title]="title"
              [type]="type"
              [data]="data"
              [columnNames]="columnNames"
              [options]="options"
              [width]="width"
              [height]="height"
            >
            </google-chart>
          </mat-tab>
          <mat-tab label="Barras">
            <google-chart
              #chart
              [title]="title1"
              [type]="type1"
              [data]="data1"
              [columnNames]="columnNames1"
              [options]="options1"
              [width]="width"
              [height]="height"
            >
            </google-chart>
          </mat-tab>

          <mat-tab label="Puntos">
            <google-chart
              #chart
              [title]="title2"
              [type]="type2"
              [data]="data2"
              [columnNames]="columnNames2"
              [options]="options2"
              [width]="width"
              [height]="height"
            >
            </google-chart>
          </mat-tab>
        </mat-tab-group>
      </div>
      <!--       <div class="chart-dos">
            <google-chart
              #chart
              [title]="title1"
              [type]="type1"
              [data]="data1"
              [columnNames]="columnNames1"
              [options]="options1"
              [width]="width1"
              [height]="height1"
            >
            </google-chart>
          </div> -->
    </div>
  </div>
</div>
