<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Tesis</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Cupos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="nav-link"
            routerLink="/venta-cupo-ciudad"
            style="color: black;"
            >Total cupos por ciudad según la sede</a
          >
          <a
            class="nav-link"
            routerLink="/venta-cupo-vendedor"
            style="color: black;"
            >Total cupos por vendedor según la sede</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Citas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="nav-link"
            routerLink="/citas-especialidad"
            style="color: black;"
            >Total de acercamientos según:</a
          >
          <a class="nav-link" routerLink="/citas-otros" style="color: black;"
            >Total acercamientos según otros Servicios</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/servicio-solicitud">Solicitud</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Quejas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="nav-link"
            routerLink="/queja-especialista"
            style="color: black;"
            >Quejas Especialista</a
          >
          <a
            class="nav-link"
            routerLink="/queja-institucion"
            style="color: black;"
            >Quejas Institución</a
          >
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--         <li class="nav-item" *ngIf="isLogged">
                  <a class="nav-link" *ngIf="user"  style="color: white;">{{user.username}}</a>
                </li> -->
      <li class="nav-item dropdown">
        <!--     <a class="nav-link dropdown-toggle mr-5" href="#" style="color: white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user}}
                    </a> -->
        <!--                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link" routerLink="/socios">Perfíl</a>
                        <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/login" (click)="onLogout()">Cerrar Sesión</a>
                    </div> -->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" style="color: white;"
          >Iniciar Sesión</a
        >
      </li>
      <!--        <li class="nav-item" *ngIf="isLogged">
                  <a class="nav-link" href="/login" (click)="onLogout()" style="color: white;">Salir</a>
                </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/registro" style="color: white;"
          >Registro</a
        >
      </li>
    </ul>
  </div>
</nav>

<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
<!-- <div style="text-align:center">
  <div style="background-color: red; width: 50%;">
    <google-chart
      #chart
      [title]="title"
      [type]="type"
      [data]="data"
      [columnNames]="columnNames"
      [options]="options"
      [width]="width"
      [height]="height"
    >
    </google-chart>
  </div>

  <google-chart
    #chart
    [title]="title1"
    [type]="type1"
    [data]="data1"
    [columnNames]="columnNames1"
    [options]="options1"
    [width]="width1"
    [height]="height1"
  >
  </google-chart>
</div> -->

<!-- <div id="regions_div" style="width: 900px; height: 500px;"></div> -->

<router-outlet></router-outlet>
